repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.12.1
    hooks:
      - id: ansible-lint
        additional_dependencies:
          - ansible
        args: [--exclude=secrets/, --exclude=vars/, --exclude=playbooks/]
