name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy AAP Content
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/makeitworkcloud/runner:latest
    env:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      ANSIBLE_VAULT_PASSWORD_FILE: ./scripts/vault.bash
      ANSIBLE_LOCALHOST_WARNING: "false"
      ANSIBLE_INVENTORY_UNPARSED_WARNING: "false"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Ansible collections
        run: ansible-galaxy collection install -r requirements.yml

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: Deploy AAP Content
        run: ansible-playbook .setup_project.yml
